doctype html
html
  head
    title Riddhi Dance Academy
    <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet"> 
        <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
    block scripts
    block style
  body
    nav#navbar.top 
            ul 
                li #[a(href="/") Home]
                li #[a(href="/") About]
                li #[a(href="/contact") Contact Us]
                li #[a(href="/") Class Info]
                li #[a(href="/") Faq]
    block content
    
footer#footer 
    p #[a(href="/") Join us on facebook]
    p #[a(href="/") Join us on instagram]
    p #[a(href="/") Join us on linkedin]
    h5 copyright reserved 2021-2022
      